# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\manhpd\mpd-personal\Basic-Programming\Data-Structure\Tree\Segment Tree\basic-segment-tree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
